@use '../../styles/theme' as *;

.tooltip {
  padding: 0.25em 0.5em;
  white-space: nowrap;
  font-size: 0.6rem;
  color: #{$color-font-dark};
  background: #{$color-body-dark};
  border-radius: var(--radius);
  box-shadow: var(--shadow);

  @include theme(dark) {
    color: #{$color-font-light};
    background: #{$color-body-light};
  }
}
