@use '../../styles/theme' as *;

.form {
  --form-gap: 1em;

  display: flex;
  flex-direction: column;
  gap: var(--form-gap);
}

.formGroup {
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: calc(var(--form-gap) * 0.5);
  }

  [role='note'] {
    margin: calc(var(--form-gap) * 0.5) 0 0;
    font-size: smaller;
  }
}

.error {
  input {
    box-shadow: $red 0 0 0 3px !important;
  }

  [role='note'] {
    color: $red;
  }
}

.submitRow {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: var(--form-gap);
}

.inputContainer {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  z-index: 1;

  &.variant--outlined {
    --input-padding: calc(0.75rem - 2px);
  }
}

.contentAppend,
.contentPrepend {
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  display: grid;
  justify-content: center;
  align-items: center;

  * {
    font-size: var(--input-font-size);
    font-weight: var(--input-font-weight);
  }
}

.contentAppend {
  right: 0;
}

.contentPrepend {
  left: 0;
}
