.checkbox {
  --size: var(--font-size);

  display: inline-flex;
  align-items: center;
  gap: calc(var(--gap) / 3);
  cursor: pointer;

  svg {
    opacity: 0.6;
    width: calc(var(--size) + 0.3em);
    height: calc(var(--size) + 0.3em);
    color: var(--color-foreground);
    transition: opacity 0.1s ease-in-out;
  }

  &:hover > svg {
    opacity: 1;
  }

  input:focus + svg {
    opacity: 1;
    box-shadow: 0 0 0 3px var(--color-accent-2);
    border-radius: var(--radius);
  }

  input:checked + svg {
    opacity: 1;
  }

  &[class~='size--small'] {
    --size: calc(var(--font-size) - 0.25em);
  }

  &[class~='size--large'] {
    --size: calc(var(--font-size) + 0.25em);
  }
}

.disabled {
  &,
  & * {
    opacity: 0.6 !important;
    cursor: not-allowed !important;
  }
}

.label {
  display: inline-block;
  font-size: var(--size);
  color: var(--color-foreground);
}
