// May not cascade over other <pre> settings; Use !important
.codeBlock {
  padding: 1em 5%;
  overflow: auto;
  background: rgb(31, 41, 55) !important;
  counter-reset: linenumbers;
  line-height: 1;
}

// Highlight code is at global.scss
