@use './theme' as *;

%surface {
  --color-background: var(--color-surface);

  padding: 1.5rem;
  background-color: var(--color-background);

  & * {
    --color-background: var(--color-comment);
  }
}
