@use 'sass:color';

// Variables and mixins releavant to color theme

// Media query based on client preference

@mixin theme($theme) {
  @if $theme == dark {
    @media (prefers-color-scheme: dark) {
      @content;
    }
  } @else {
    @media (prefers-color-scheme: light) {
      @content;
    }
  }
}

// Color variables

$blue: hsl(210, 100%, 65%);
$lightblue: hsl(210, 100%, 70%);
$darkblue: #0073e6;
$red: #dd3333;
$green: #00a264;
$purple: #6b3ea8;
$pink: #ffcfd8;
$yellow: #f5a623;
$darkpink: color.adjust($pink, $lightness: -10%);
$darkerpink: color.scale($pink, $lightness: -20%);
$darkestpink: color.scale($pink, $lightness: -30%);

$color-font-light: black;
$color-body-light: hsl(0, 0%, 98%);
$color-surface-light: hsl(0, 0%, 85%);
$color-surface-hover-light: color.scale($color-surface-light, $lightness: 30%);
$color-comment-light: hsl(0, 0%, 70%);
$color-primary-light: $darkblue;
$color-primary-hover-light: $blue;

$color-font-dark: white;
$color-body-dark: rgb(24, 25, 26);
$color-surface-dark: rgb(40, 41, 42);
$color-surface-hover-dark: color.scale($color-surface-dark, $lightness: 2%);
$color-comment-dark: rgb(52, 53, 54);
$color-primary-dark: $blue;
$color-primary-hover-dark: $lightblue;

$color-secondary: $purple;
$color-secondary-hover: color.scale($color-secondary, $lightness: 30%);

%root-color {
  --color-background: #{$color-body-light};
  --color-foreground: #{$color-font-light};
  --color-primary: #{$color-primary-light};
  --color-primary-hover: #{$color-primary-hover-light};
  --color-secondary: #{$color-secondary};
  --color-secondary-hover: #{$color-secondary-hover};
  --color-surface: #{$color-surface-light}; // Default color, non-thematic
  --color-surface-hover: #{$color-surface-hover-light};
  --color-comment: #{$color-comment-light};
  --color-error: #{$red};
  --color-warning: #{$yellow};
  --color-info: #{$blue};
  --color-success: #{$green};
  --color-shadow: #3a3b3c57;

  --color-accents-1: hsl(0, 0%, 98%);
  --color-accents-2: hsl(0, 0%, 92%);
  --color-accents-3: hsl(0, 0%, 60%);
  --color-accents-4: hsl(0, 0%, 53%);
  --color-accents-5: hsl(0, 0%, 40%);
  --color-accents-6: hsl(0, 0%, 27%);
  --color-accents-7: hsl(0, 0%, 20%);
  --color-accents-8: hsl(0, 0%, 7%);

  @include theme(dark) {
    --color-background: #{$color-body-dark};
    --color-foreground: #{$color-font-dark};
    --color-primary: #{$color-primary-dark};
    --color-primary-hover: #{$color-primary-hover-dark};
    --color-surface: #{$color-surface-dark};
    --color-surface-hover: #{$color-surface-hover-dark};
    --color-comment: #{$color-comment-dark};
    --color-shadow: black;

    --color-accents-8: #fafafa;
    --color-accents-7: #eaeaea;
    --color-accents-6: #999;
    --color-accents-5: #888;
    --color-accents-4: #666;
    --color-accents-3: #444;
    --color-accents-2: #333;
    --color-accents-1: #111;

    color: var(--color-foreground);
  }
}
