.skipNavLink {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  position: absolute;
}

.skipNavLink:focus {
  padding: 1rem;
  position: fixed;
  top: 10px;
  left: 10px;
  background: var(--color-accent-2);
  z-index: 1;
  width: auto;
  height: auto;
  clip: auto;
}
